.DatePicker {
    max-width: 230px;
    font-family: Arial, Helvetica, sans-serif;

    &-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 8px;
        border: 1px solid black;

        input {
            border: none;
            flex: 1;
            outline: none;
        }

        img {
            opacity: 0.5;
            cursor: pointer;
        }
    }  

    &-popover {
        margin-top: 8px;
        border: 1px solid #ccc;
        padding: 14px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    &-calendar {
        user-select: none;

        &-header {
            white-space: nowrap;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 14px;
        }

        &-title {
            font-size: 18px;
            color: #0198E1;
            cursor: pointer;
        }

        &-arrows {
            display: flex;
            align-items: center;

            > img {
                cursor: pointer;
            }
        }

        &-body {
            animation: FadeIn 0.3s forwards;
            transform-origin: center;

            [data-type="day"] {
                display: flex;

                > div {
                    font-size: 12px;
                    font-weight: 500;
                    font-family: Arial;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                > div[data-header] {
                    font-weight: bold;
                }

                > div:hover:not([data-header]) {
                    background-color: #ccc;
                    cursor: pointer;
                }
            }

            [data-type="month"], 
            [data-type="year"] {
                display: flex;

                > div {
                    font-size: 12px;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 48px;
                    height: 48px;
                    background-color: #eee;
                    margin-bottom: 4px;
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-right: 4px;
                    }

                    &:hover {
                        background-color: #ddd;
                    }
                }
            }
        }
    }
    
}

@keyframes FadeIn {
    0% {
        transform: scale(0.25);
        opacity: 0.2;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}